* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #ededed;
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  margin: 20px 0 5px 0;
}

.game-container {
  display: flex;
  flex-wrap: wrap;

  width: 702px;
  height: 702px;

  border: 1px solid;
}

.board-cell {
  width: 35px;
  height: 35px;

  background: white;
  border: solid 1px #f0f0f0;
}

.cell-alive {
  border: solid 1px black;
}

.options-container {
  display: flex;
  margin-top: 5px;

  height: 65px;
  width: 700px;
}

.options-container .small-buttons-container {
  display: flex;
  justify-content: space-evenly;
  min-width: 160px;
}

.options-container .small-buttons-container button {
  margin-right: 5px;
}

.options-container .small-buttons-container .timer--on {
  background: #fa5143 !important;
  cursor: wait !important;
}

.options-container button {
  background: #c3ffa3;
  font-size: large;

  width: 100%;
  height: 100%;

  border-radius: 5px;
  border: solid 1px #dbd9d9;

  cursor: pointer;
}

.options-container button:hover {
  background: #bbf59d;
}

.options-container button:active {
  background: #b3eb96;
}

.options-container .timer--on {
  background: #f28d85;
  border-color: #fa5143;
  border-width: 3px;
}

.options-container .timer--on:hover {
  background: #ff9c94;
}

.options-container .timer--on:active {
  background: #e38d86;
}

.timer-container {
  display: flex;
  min-width: 150px;
}

.timer-container input {
  font-size: large;

  width: 80px;

  margin: 0 5px;
  padding: 0 10px;
}

.timer-container .timer--on {
  background: #fa5143 !important;
  cursor: wait !important;
  border: none;
}

.timer-text-container {
  align-self: center;
}

.instructions-container {
  display: flex;
  flex-direction: column;

  width: 700px;

  border: solid 1px;
  border-radius: 5px;
  background: white;

  margin: 15px 0 30px 0;
  padding: 15px;

  font-size: 18px;
  line-height: 22px;
}

.instructions-container span {
  background: #c3ffa3;
  height: 100%;

  padding: 0 5px;

  border-radius: 5px;
  border: solid 1px #dbd9d9;
}

.instructions-container #red-button {
  background: #f28d85 !important;
  border-color: #fa5143 !important;
}

.instructions-container p:nth-child(2) {
  color: grey;
  font-size: 14px;
}

.instructions-container a {
  color: grey;
  text-decoration: none;
}

.instructions-container h2 {
  align-self: center;
  margin-bottom: 10px;
}

.instructions-container p:nth-child(n+3) {
  text-indent: 10px;
}

.instructions-container ol {
  margin: 8px 0;
}

.instructions-container li {
  margin-left: 50px;
}